.user-login {
  position: absolute;
  width: 200px;
  height: 71px;
  padding:10px;

  
 
}

.user-login__title {
  font-size: 20px;
  color: #000000  ;
  margin-bottom: 20px;
  padding: 20px;
  text-align: center;
  padding: 10px;
}

.user-login__form-control {
  display: flex;
  
  flex-direction: center;
  margin-bottom: 10px;
  padding-left:130px;
}

.user-login__form-control label {
  margin-bottom: 20px;
  color: #000000;
  font-size: 20px;
  padding-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
 
}

.user-login__form-control input {
  border-radius: 10px;
  
  border: 1px solid #6719E7;
  height: 20px;
  padding: 20px 10px;
  padding-right: 50px;
}

.user-login__submit-button {
  position:fixed;
  left: 175px;
  font-style: normal;
  font-family: sans-serif;
  padding: 10px 80px;
  color: #ffffff;
  bottom: 80px;
  background:#9287bb;
  border-radius: 20px;
  transition: background-color 0.5s;
  
 
  

 
}

.logo {
  margin-left: 100px;
  width: 360px;
  height: 283px;
  
}

.secondcolum {
  position: relative;
  width: 400px;
  height: 400px;
  padding:100%;
  margin-right: 500px;
  mix-blend-mode: normal;
  opacity: 0.5;
}




