h1 {
    color:#ffffff;
    font-size: 20px;
    text-align: center;
    padding:10px;
    padding-top:10px;
    font-style: normal;
    font-family: sans-serif;
    background-color: #435eb1;
    
}



.Login-Group {
    padding-left:500px;
    padding-bottom:10px;
    padding-top:50px;

}


.Login-Field{
  right:5px;
  left:14px;
  position:relative;
  border-radius: 10px;
  border: 1px solid #435eb1;
  height: 20px;
  padding: 15px 10px;
  padding-right:41px;

}


.Login-Field-Sobrenome{
  right: -5px;
  position:relative;
  border-radius: 10px;
  border: 1px solid #435eb1;
  height: 20px;
  padding: 15px 10px;
  padding-right:10px;
}



.Button-Register{
    position:fixed;
    left: 550px;
    font-family: sans-serif;
    padding: 10px 90px;
    color: #ffffff;
    bottom: 90px;
    background:#435eb1;
    border-radius: 20px;
    transform-style: #641c6c;
    transition: background-color  0.5s;
    border: 1px solid;
    
}

