h1 {
    font-size: 20px;
    padding:5px;
    padding-top:10px;
    font-style: normal;
    font-family: sans-serif;
}

.Login-Group {
    padding-left:500px;
    padding: bottom 5px;
    padding-top:50px;

}

.Login-Field{
  right:5px;
  left:5px;
  position:relative;
  border-radius: 10px;
  border: 1px solid #435eb1;
  height: 20px;
  padding: 15px 10px;
  padding-right:10px;

}

.Login-Field-Sobrenome{
  
  right: -5px;
  position:relative;
  border-radius: 10px;
  border: 1px solid #435eb1;
  height: 20px;
  padding: 15px 10px;
  padding-right:10px;
}

.Button-Register{
    position:fixed;
    left: 600px;
    font-family: sans-serif;
    padding: 10px 50px;
    color: #ffffff;
    bottom: 50px;
    background:#435eb1;
    border-radius: 20px;
    transform-style: #641c6c;
    transition: background-color  0.5s;
    border: 1px solid;
    
}
